main {
    background-color: white;
    width: 100%;
    height: 100%;
}

button {
    width: 95%;
    padding: 17px;
    margin-right: 10px;
    margin-left: 10px;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 14px;
}

h1 {
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -30px;
    font-size: 29px;
}
.btn-wrapper {
    position: relative;
    top: 20px;
}
span {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 103px;
    color: gray;
    font-family: inherit;
}

input.native-input.sc-ion-i {
    background: white;
    color: black;
    font-family: math;
}