ion-content ion-toolbar {
  --background: white;
}

.custom-toolbar {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff; /* Set the background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Set the box shadow */
  color: #333333; /* Set the text color */
}