.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-list li {
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-list li .option-label {
  font-weight: bold;
  font-size: 18px;
}

.options-list li .option-button {
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options-list li .option-button:hover {
  background-color: #333;
}

* {
  background-color: white;
}

span {
  color: black;
}

.custom-toolbar {
  --background: #ff0000; /* Set the desired background color */
}
.custom-toolbar {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff; /* Set the background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Set the box shadow */
  color: #333333; /* Set the text color */
}