<div class="custom-toolbar">
  Mechanic App
</div>

<ion-content>



  <body >
    <ul style="margin-top: 40px;" class="options-list">
      <li>
        <span class="option-label">View Profile</span>
        <button class="option-button">Go</button>
      </li>
      <li>
        <span class="option-label">Last Orders</span>
        <button class="option-button">View</button>
      </li>
      <li>
        <span class="option-label">Edit Password</span>
        <button class="option-button">Edit</button>
      </li>
      <li>
        <span class="option-label">Delete Account</span>
        <button class="option-button">Delete</button>
      </li>
      <li>
        <span class="option-label">Logout</span>
        <button class="option-button">Logout</button>
      </li>
    </ul>
  </body>

</ion-content>